<!doctype html>
<html lang="it" class="h-100">
  <head>
   {{> header}}
  </head>

  <body class="d-flex flex-column h-100">
    {{> navheader this}}


<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    QUESTO è MAIN
      {{{body}}}
  </div>
</main>

{{> footer}}


 <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

      
  </body>
</html>